.terraform/
.terraform.lock.hcl.bak
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfvars
terraform.tfvars.local
*.csv
*accessKeys*
.aws/
.DS_Store
kubeconfig*
*.kubeconfig
.env
.env.*
!.env.example
.tools/
.idea/
.vscode/
